.m-footer
  border-top: 1px solid #d9d9d9
  min-height: 200px

.m-footer--logo
  background-image: url(../images/logo-footer.png)
  width: 332px
  height: 52px
  display: inline-block
  margin: 95px 0 10px

.m-footer--copyright
  font-size: 1.5em
  color: #d9d9d9
